<%-   include('./partials/header.ejs')               %>
<body>
    <!-- <h2>Welcome to Drive Test</h2>

    <div class="d-grid gap-2 col-6 mx-auto">
    <a href="/login" class="btn btn-success">Login</a><br>
    <a href="/signup" class="btn btn-success">Signup</a>
    </div> -->

    <div class="header">
        <h1>Welcome to Drivetest</h1>
      </div>
      
      <div class="main-section">
        <a href="login.html" class="btn">Login</a>
        <a href="signup.html" class="btn">Sign Up</a>
      </div>
</body>
</html>